.lg {
    color: white;
    background-color:#00A9CE;
    margin: 14px 23px;
    border-color: #00A9CE;
    border-radius: 5px;
}

.reset{
    color: white;
    background-color: #00A9CE;
    margin: 14px 23px;
    border-color: #00A9CE;
    border-radius: 5px;
}
.wedbush{
    font-size: xx-large;
    background-color:lightgray;
    margin: 0px 0px 9px -1315px;
    color: #00245d;
}
.slwp{
    margin-left: -1222px;
}
#text{
    color:grey;
}
#text1{
     color:grey; 
}
.inputcontainer{
    color:red;
}


